@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menubar-bg;

  :global(.container)> :global(.row) {
    height: 84px;
  }

  .inputBox {
    display: none;
  }

  .dropdown {
    display: none;
    margin-right: 2.5%;
    z-index: 999;
  }

  .hamburger {
    align-self: flex-end;

  }

  label {
    cursor: pointer;
  }

  input[type=checkbox]+label {
    .iconBar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: #000;
      margin: 4px;
      transition: all 0.2s;
    }

    .topBar {
      transform: rotate(0);
    }

    .middleBar {
      opacity: 1;
    }
  }

  input[type=checkbox]:checked+label {
    .topBar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middleBar {
      opacity: 0;
    }

    .bottomBar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $menubar-dark-link-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menubar-light-border;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $menubar-light-link-color;
        border-color: $primary;
      }

      &.active {
        border-color: $menubar-dark-border;
      }
    }
  }
}



@media only screen and (max-width: 1200px) {
  .root {

    :global(.container)> :global(.row) {
      height: auto;
    }

    .menuBarWrapper {
      flex-direction: column-reverse;
      min-height: fit-content;
      flex-wrap: nowrap;

      .ProductSearchWrapper {
        margin: 1% 0;
      }

      .menu {
        min-height: 84px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .root> :global(.container) {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {

  .root {

    .menuBarWrapper {
      flex-direction: row;
      justify-content: space-between;

      .dropdown {
        display: flex;
      }

      .ProductSearchWrapper {
        max-width: 90%;
      }

      .menu {
        display: none;
      }


      input[type=checkbox].inputBox:checked~.menu {
        display: block;
        position: absolute;
        width: 100%;
      }

      .menuList {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        z-index: 999;
      }

      .menuList li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }


      .menuList>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 2em 0;
        width: 100%;
        align-items: center;
      }

      .menuList>li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
    }
  }
}