@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $veryDarkGray-color;
  color: $button-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    @extend %hover-animation;
    color: $button-color !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-color;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
        @extend %hover-animation;
    background-color: $button-outline-color;
    color: $button-color;

  }
}