@import "../../../styles/settings.scss";

.root {
  width: fit-content;
  height: 1.4em;

  a {
    text-decoration: none;
    color: $average-rating-color;
  }

  a.userRated {
    color: $user-rating-color;
  }


}

.root:hover {
  a {
    color: $user-rating-color;
  }

  a:hover~a {
    color: $average-rating-color;
  }
}