@import "../../../styles/settings.scss";

.root {
  .carousel {
    padding: 15px 0;
    margin-bottom: 30px;
    border-bottom: 2px solid $brands-border;
    border-top: 2px solid $brands-border;

    img {
      width: 75px;
      height: 60px;
      margin-left: -15px;
      position: relative;
      right: 115px;
    }

    button {
      background-color: $brands-button-bg;
      color: $brands-button-color;
      font-weight: 400;
      border-radius: 0;
      height: 60px;
      margin-left: -45px;
    
      &:not(.noHover):hover {
        @extend %hover-animation;
        color: $brands-button-color !important;
        background-color: $brands-button-hover-bg;
        text-decoration: none;
      }
    }

    button:last-child {
      margin-right: -45px;
    }
  }
}

@media (max-width: 1023px) {
  .root {
    .carousel {
      img {
        margin-left: -5px;
        right: 100px;
      }

      button {
        margin-left: -37px;
      }
  
      button:last-child {
        margin-right: -37px;
      }
    }
  }
}

@media (max-width: 850px) {
  .root {
    .carousel {
      img {
        margin-left: -5px;
        right: 100px;
      }

      button {
        margin-left: -30px;
      }
  
      button:last-child {
        margin-right: -30px;
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    .carousel {
      button {
        margin-left: -20px;
      }
  
      button:last-child {
        margin-right: -20px;
      }
    }
  }
}