/* BASE COLORS */
$base-padding: 24px;
$primary: #d58e32;
$white-color: #ffffff;
$black-color: #292929;
$darkGray-color: #363636;
$gray-color: #b6b6b6;
$lightGray-color: #e1e1e1;
$darken-white-color: #e2e2e2;
$blueWhite-color: #f4f5f7;

/* HEADER */
$header-topbar-bg: $darkGray-color;
$header-bg: $darkGray-color;

/* FOOTER */
$footer-claim-bg: $darkGray-color;
$footer-text-color: $white-color;
$footer-bg: $darkGray-color;

/* CARTBOX */
$cartbox-color: $white-color;

/* TOPBAR AND MENUBAR */
$topbar-link-color: $white-color;
$menubar-bg: $white-color;
$menubar-dark-border: $black-color;
$menubar-light-border: $white-color;
$menubar-dark-link-color: $black-color;
$menubar-light-link-color: $white-color;

/* FORM */
$form-border-color: $black-color;

/* FURNITURE */
$panelbar-border: $darken-white-color;
$list-color: $white-color;
$link-color: $lightGray-color;

/* PRODUCT BOX */
$product-bg: $white-color;
$product-border: $lightGray-color;
$photo-bg: $blueWhite-color;
$sale-text-color: $white-color;
$line-border-color: $black-color;

/* FEATURE BOX */
$featurebox-border: $gray-color;
$featurebox-bg: $white-color;
$featurebox-hover: $white-color;
$featurebox-icon-color: $black-color;

/* BUTTON */
$button-color: $white-color;
$button-outline-color: $black-color;

/* SEARCH */
$search-color: $black-color;
$search-placeholder-color: $black-color;

$category-hover-color: $white-color;
$category-hover-bg-color: $primary;

$category-hover-transition: 0.1s linear;

$product-search-font-size: 14px;

/*ANIMATION*/
$animation-time: 250ms;
//animation placeholder
%hover-animation {
  transition-duration: $animation-time;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}