@import "../../../styles/settings.scss";

.root {
  background-color: $product-bg;
  border: 1px solid $product-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;

    background: {
      color: $photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    .prodImg {
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: $sale-text-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      visibility: hidden;
      opacity: 0;
      transition: $product-box-button-visibility, $product-box-button-opacity;
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .starsWrapper {
      display: flex;
      justify-content: center;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $line-border-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .outlines {

      .favorite {
        background-color: $veryDarkGray-color;
        color: $white-color;
      }
    }

    .price {
      display: flex;
      align-items: center;

      .oldPrice {
        text-decoration: line-through;
        padding-right: 5px;
        font-size: 13px;
        color: #A5A5A5;
      }

      .priceContainer {
        transition: background-color $price-hover-transition
      }
    }
  }
  .promoted {
    display: none;
  }

  .fav {
    color: #ffff;
    background-color: $primary;
  }
}

.root:hover {
  @extend %hover-animation;

  .photo {
    @extend %hover-animation;

    .buttons {
      visibility: visible;
      opacity: 1;
      position: relative;
    }
  }

  .actions {
    .priceContainer {
      background-color: $primary;
    }
  }
}

//POPUP//
.popupContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $popup-background-color;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

.popupContainer.active {
  display:inline-block;
}

.popupBox{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 400px;
  position: relative;
  justify-content: space-between;

img {
  max-width: 50%; /* Dostosuj szerokość obrazu */
  margin-right: 10px;
}

.xButton {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  font-size: $popup-button-font-size;
  cursor: pointer;
  &:hover {
    background-color: $gray-color;
    border-radius: 10px;
  }
}

.popupDetailsContainer{
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 310px;
  height: 395px;
  width: 302px;

  .detailName{
    font-size: $popup-detail-name-font-size;
    font-weight: 600;
  }
  .detailId{
    color:$gray-color;
    font-size: $popup-detail-id-font-size;
  }

  .detilPrice{
    font-size: $popup-detail-old-price-font-size;
    font-weight: 600;
  }
  .detilOldPrice{
    font-weight: 600;
    color:$gray-color;
  }

  .detilPromo,
  .detilStars{
    font-weight: 600;
  }
}
}
