@import "../../../styles/settings.scss";

.root {
  background-color: $product-bg;
  border: 1px solid $product-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;

    background: {
      color: $photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: $sale-text-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s linear, opacity 0.2s linear;
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $line-border-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      display: flex;
      align-items: center;

      .oldPrice {
        text-decoration: line-through;
        padding-right: 5px;
        font-size: 13px;
        color: #A5A5A5;
      }

      .priceContainer {
        transition: background-color 0.2s linear;
      }
    }
  }
}

.root:hover {
  @extend %hover-animation;

  .photo {
    @extend %hover-animation;
    z-index: 1;
    position: relative;

    .buttons {

      visibility: visible;
      opacity: 1;
      position: relative;
      z-index: 0;
    }
  }

  .actions {
    .priceContainer {
      background-color: $primary;
    }
  }
}